{%extends 'index.html'%}}
{%block title%} List Student {%endblock%}
{%block content%}
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>All Students</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table text-center">
              <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Address</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Password</th>
                    <th scope="col">Staff Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
              {%for s in students%}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.username}}</td>
                    <td>{{s.address}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.password}}</td>
                    <td>{{s.staff_id.username}}</td>
                    <td><a class="btn btn-warning" href="{% url 'updatestudent' s.id%}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'deletestudent' s.id%}">Delete</a></td>
                </tr>
              {%endfor%}
              </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}
